html{
  /* background: hsl(60, 750%, 90%); */
  color: #4d4d4d;
}

/* 左上アイコン */
header {
  /* position: fixed; */
  display: flex;
  margin-bottom: 50px;
  margin-left: 10px;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
}
header .logo_title{
  margin: 0 0 0 auto;
  font-size: 50px;
  font-family: josefin-slab,sans-serif;
  font-weight: 600;
  font-style: normal;
  
}

header .logo_subtitle {
  margin: 0 auto;
  font-size: 20px;
  position: relative;
  top: -10px;
  font-family: mrs-waves, serif;
  font-weight: 400;

}


/* メニューバー */
nav {
  margin: 0 0 0 auto;
  padding: 0 0 10px 0;
  border-bottom: solid 1px black;
  height: 60px;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
}


nav a {
  width: 150px;
  text-align: center;
  display: block;
}



nav a:hover{
  color: hsl(0, 0%, 100%);
  /* text-shadow: -1px -2px   #4d4d4d; */
  text-shadow:0 0 10px #4d4d4d;
}

.link {
  margin: 10px auto 0;
  font-size: 20px;
  font-family: a-otf-midashi-mi-ma31-pr6n,serif;
  font-weight: 600;
  font-style: normal;
}

.rubi {
  margin: 0 auto;
  font-size: 5px;
  font-family: josefin-slab,serif;
  font-weight: 700;
  font-style: normal;
}

/* タイトル横線 */
.title {
  display: flex;
  align-items: center;
  margin: 40px auto 40px auto;
  font-family: a-otf-midashi-mi-ma31-pr6n,serif;
  font-weight: 600;
  font-style: normal;
  }
  .title:before,
  .title:after {
  border-top: 1px solid #4d4d4d;
  content: "";
  flex-grow: 1;
  }
  .title:before {
    margin-right: 1rem;
    margin-left: 2rem;
  }
  .title:after {
    margin-left: 1rem;
    margin-right: 2rem;
  }

/* shiro */
.shiro {
  text-align: center;
}

.shiro img {
  border-radius: 50%;
  box-shadow: 0 0 10px gray;
  width: 500px;
  height: 500px;
  margin: 50px auto;
}

.shiro_title {
  font-size: 50px;
  margin: 0px auto 0px auto;
  font-family: josefin-slab,serif;
  font-weight: 400;
  font-style: normal;
}

.shiro_text {
  font-size: 20px;
  margin: 0 auto 100px auto;
  font-family: mrs-eaves,serif;
  font-weight: 400;
  font-style: italic;
}

/* デザイナー */
.designer {
  text-align: center;
}

.designer img {
  margin: 50px auto 0 auto;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.foou_rubi {
  margin: 20px auto 0 auto;
  font-size: 15px;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.foou_name {
  margin: 0 auto 30px auto;
  font-size: 30px;
  font-family: josefin-sans,sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* デザイン事例 */
.case {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 80px;
}

.case_text {
  margin-left: 30px;
}


.hidaji_text h2 {
  font-size: 21px;
  margin: 0;
  font-family: dnp-shuei-shogomincho-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.case_text p {
  font-family: a-otf-midashi-mi-ma31-pr6n,serif;
  font-weight: 600;
  font-style: normal;
}

.goods_text h2 {
  font-family: a-otf-midashi-mi-ma31-pr6n,serif;
  font-weight: 600;
  font-style: normal;
}

.case_img {
  /* width: 100%; */
  width: 300px;
  height: 300px;
  /* margin-left: 3%; */
}

.case_img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.case:nth-of-type(odd) {
  flex-direction: row-reverse;
}
.case:nth-child(odd) .case_text {
  /* text-align: right; */
  margin-right: 30px;
}
.case:nth-of-type(odd) .case_img {
  margin-left: 0;
  /* margin-right: 3%; */
}

.hidaji_img img {
  object-position: left;
  /* border-bottom: solid 1px black; */
}

.hidaji_img {
  border-bottom: solid 1px #4d4d4d;
  padding-bottom: 50px;
}

/* 画像並び */
.order{
  display: flex;
  justify-content: space-around;
  margin: 100px auto;
}

.order img{
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.text{
  text-align: center;
}

.text h1 {
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.text p {
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ボタンの設定 */
.btn{
  background: white;
  border-radius: 6px;
  width:150px;
  padding:6px;
  display: block;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 8px gray;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.btn:hover{
  background: hsl(200, 60%, 80%);
  cursor: pointer;
}

footer {
  text-align: center;
  border-top: solid 1px #4d4d4d;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* スマホサイズ */
@media(max-width: 599px) {
  .menu{display: none;}
  .order{
    display: block;
    /* margin: 30px auto; */
    text-align: center;
  }
  .order img{
    margin: 100px auto 0px auto ;
  }

  .case{
    display: block;
    text-align: center;
  }

  .case_img {
    /* width: 100%; */
    width: 220px;
    height: 220px;
    /* margin-left: 3%; */
  }

  .case_img {
    text-align: center;
    margin: 0 auto;
  } 

  .case_text {
    margin: 100px auto 0 auto; 
  }

  .case_text p {
    text-align: left;
  }

  .case:nth-of-type(odd) {
    flex-direction: row-reverse;
  }
  .case:nth-child(odd) .case_text {
    /* text-align: right; */
  }
  .case:nth-of-type(odd) .case_img {
    margin: 0 auto;
    /* margin-right: 3%; */
  }
  .hidaji_img {
    border-bottom: none;
  }

  .image {
    width: 220px;
    height: 220px;
  }

}

/* 全画面サイズ */
@media(min-width: 1020px) {
  nav ul li {
    padding: 0 40px 0;
  }
}