html{
  /* background: hsl(60, 750%, 90%); */
  color: #4d4d4d;
  scroll-behavior: smooth;
}

body {
  margin-top: 0;
}

/* 左上アイコン */
header {
  position: fixed;
  margin-bottom: 50px;
  
  padding-left: 2%;
  width: 100%;
  height: 80px;
  background: white;
  display: flex;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
}
header .logo_title{
  margin: 0 0 0 auto;
  font-size: 50px;
  font-family: josefin-slab,sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 4px;
}

header .logo_subtitle {
  margin: 0 auto;
  font-size: 12px;
  position: relative;
  top: -10px;
  font-family: mrs-waves, serif;
  font-weight: 400;
  letter-spacing: 3px;
}


/* メニューバー */
.sp-menu{display: none;}
.menu {
  position: fixed;
  right: 0;
  padding: 0px 0 10px 0;
  border-bottom: solid 1px black;
  height: 60px;

}

.menu ul {
  list-style: none;
  margin: 0;
  display: flex;
}


.menu a {
  width: 150px;
  text-align: center;
  display: block;
}



.menu a:hover{
  color: hsl(0, 0%, 100%);
  /* text-shadow: -1px -2px   #4d4d4d; */
  text-shadow:0 0 10px #4d4d4d;
}

.link {
  margin: 20px auto 0 0;
  font-size: 15px;
  font-family: a-otf-midashi-mi-ma31-pr6n,serif;
  font-weight: 600;
  font-style: normal;
}

.rubi {
  margin: 0 auto;
  font-size: 7px;
  font-family: josefin-slab,serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
}

/* タイトル横線 */
.title {
  display: flex;
  align-items: center;
  margin: 40px auto 40px auto;
  font-family: a-otf-ryumin-pr6n,serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  }
  .title:before,
  .title:after {
  border-top: 1px solid #4d4d4d;
  content: "";
  flex-grow: 1;
  }
  .title:before {
    margin-right: 18px;
    margin-left: 24px;
  }
  .title:after {
    margin-left: 18px;
    margin-right: 24px;
  }

/* shiro */
.shiro {
  padding-top: 150px;
  text-align: center;
}

.shiro img {
  border-radius: 50%;
  box-shadow: 0 0 100px hsl(0, 0%, 70%);
  width: 500px;
  height: 500px;
  margin: 50px auto;
}

.shiro_title {
  font-size: 40px;
  margin: 0px auto 5px auto;
  font-family: josefin-slab,serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 3px;
}

.shiro_text {
  font-size: 18px;
  margin: 0 auto 100px auto;
  font-family: mrs-eaves,serif;
  font-weight: 400;
  font-style: italic;
}

/* デザイナー */
.designer {
  text-align: center;
}

.designer img {
  margin: 50px auto 0 auto;
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.foou_rubi {
  margin: 20px auto 0 auto;
  height: 25px;
  font-size: 15px;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.foou_name {
  margin: 0 auto 30px auto;
  font-size: 30px;
  font-family: josefin-sans,sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
}

/* デザイン事例 */
.case {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 80px auto 80px auto;
}

.case_text {
  margin-right: 30px;
}


.hidaji_text h2 {
  font-size: 21px;
  margin: 0;
  font-family: dnp-shuei-shogomincho-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.case_text p {
  font-family: a-otf-ryumin-pr6n,serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 0px;
}

.goods_text h2 {
  font-family: a-otf-midashi-mi-ma31-pr6n,serif;
  font-weight: 600;
  font-style: normal;
}

.hidaji_img img {
  object-position: left;
  /* border-bottom: solid 1px black; */
}

.hidaji_img {
  border-bottom: solid 1px #4d4d4d;
  padding-bottom: 50px;
}

.case_img {
  /* width: 100%; */
  width: 300px;
  height: 300px;
  margin-right: 30px;
  margin-left: 30px;
  /* margin-left: 3%; */
}

.case_img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.case:nth-of-type(odd) {
  flex-direction: row-reverse;
}
.case:nth-child(odd) .case_text {
  /* text-align: right; */
  margin-right: 0px;
  margin-left: 30px;
}
.case:nth-of-type(odd) .case_img {
  /* margin-left: 30px;
  margin-right: 0px; */
  /* margin-right: 3%; */
}

/* 画像並び */
.order{
  display: flex;
  justify-content: space-around;
  margin: 100px auto 0px auto;
}

.order img{
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.text{
  text-align: center;
}

.text h1 {
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0px;
  height: 30px;
}

.text p {
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px auto 30px auto;
}

/* ボタンの設定 */
.btn{
  background: white;
  border-radius: 6px;
  width:130px;
  padding:0px;
  display: block;
  margin: 0 auto 100px auto;
  text-align: center;
  box-shadow: 0 0 15px gray;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
  transition: all 0.2s ease-out;
}

.btn:hover{
  letter-spacing: 12px;
  cursor: pointer;
  text-align: center;
}

footer {
  text-align: center;
  border-top: solid 1px #4d4d4d;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contact img{
  width: 30px;
  height: 30px;
  color: hsl(0, 0%, 70%);
}

.insta {
  position: fixed;
  right: 80px;
  bottom: 30px;
}

.mail {
  position: fixed;
  right: 30px;
  bottom: 30px;

}

/* スマホサイズ */
@media(max-width: 599px) {
  header {
    height: 45px;
  }
  header .logo_title{
    font-size: 30px;
    letter-spacing: 1px;
  }
  
  header .logo_subtitle {
    font-size: 7px;
    position: relative;
    top: -10px;
    letter-spacing: 1px;
  }
  .menu{display: none;}
  /* ハンバーガーアイコン */
  .sp-menu{
    display: inline;
  }

  .sp-menu {
    margin-left: auto;
    margin-right: 7%;
  }
  
  .sp-menu #open {
    font-size: 24px;
    line-height: 40px;
    cursor: pointer;
  }
  
  .sp-menu #open.hide {
    display: none;
  }
  
  main {
    padding: 0 16px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 64px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
  }
  
  .overlay.show {
    opacity: 1;
    pointer-events: auto;
  }
  
  .overlay #close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 32px;
    cursor: pointer;
  }
  
  .overlay ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .overlay li {
    margin-top: 24px;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity .3s, transform .3s;
  }
  
  .overlay.show li {
    opacity: 1;
    transform: none;
  }
  
  .overlay.show li:nth-child(1) {
    transition-delay: .1s;
  }
  
  .overlay.show li:nth-child(2) {
    transition-delay: .2s;
  }
  
  .overlay.show li:nth-child(3) {
    transition-delay: .3s;
  }
  
  .shiro_text {
    font-size: 13px;
  }



  .order{
    display: block;
    margin: 30px auto;
    text-align: center;
  }
  .order img{
    margin: 50px auto 0px auto ;
  }

  .case{
    display: block;
    text-align: center;
  }

  .case_img {
    /* width: 100%; */
    width: 220px;
    height: 220px;
    /* margin-left: 3%; */
    
    text-align: center;
    margin: 0 auto;
  }

  .case_img img {
    width: 220px;
    height: 220px;
  } 

  .hidaji_img img {
    width: 220px;
    height: 220px;
    text-align: center;
    margin: 0 auto;
  }

  .case_text {
    margin: 50px 10px 80px 10px; 
  }

  .case_text p {
    text-align: left;
  }

  .case:nth-child(odd) .case_text {
    margin: 50px 20px 80px 20px;
}
  .case:nth-of-type(odd) .case_img {
    margin: 0 auto;
    /* margin-right: 3%; */
  }
  .hidaji_img {
    border-bottom: none;
    padding-bottom: 0px;
  }

  .shiro img {
    width: 220px;
    height: 220px;
  }

  .designer img{
    width: 220px;
    height: 220px;
  }

  footer {
    font-size: 8px;
  }
}

/* 全画面サイズ */
@media(min-width: 1020px) {
  .menu ul li {
    padding: 0 1% 0 40px;
  }

  .title:before {
    margin-right: 36px;
    margin-left: 48px;
  }
  .title:after {
    margin-left: 36px;
    margin-right: 48px;
  }
  .case_img {
    /* width: 100%; */
    margin-right: 3%;
    margin-left: 10%;
    /* margin-left: 3%; */
  }
  
  .case_text {
    /* margin-right: 50px; */
    margin: 0 auto 0 0;
    width: 500px;
  }

  .case:nth-child(odd) .case_text {
    /* text-align: right; */
    margin: 0 0 0 auto;
  }
  .case:nth-of-type(odd) .case_img {
    margin-left: 3%;
    margin-right: 10%;
    /* margin-right: 3%; */
  }
}